html, body {
  height: 100%;
  font-family: verdana;
  font-weight: 100;
  margin: 0;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


form textarea, .chooseBox {
  font-family: verdana;
  font-weight: 100;
  padding: 30px 20px;
  margin-top: 30px;
  border-radius: 10px;
  border: solid 2px #625c5c;
  resize: none;
  height: 400px;
  font-size: 58px;
  flex: 1;
  align-items: center;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 95vw;
  flex: 1 1 auto;
  width: 100%;
}
#app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.main-container,
.app-interior-container,
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: stretch;
}

.main-container {
  min-height: 100vh;
  justify-content: center;
}

.main-content {
  flex: 1 1 auto !important;
}
.main-content > div {
  flex: 1 1 auto;
}
.app-interior-container {
  flex: 1 1 auto;
}

.inner-content {
  flex: 2 1 100%;
  padding: 10px;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.chooseBox {
  border: none;
}

.nextLink {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.nextLink > span, a {
  color: white;
  font-size: 2em;
  text-decoration: none;
  padding: 0 10px;
}
.nextLink > span:hover, a:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.inputInfo {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-self: flex-end;
  flex: 1 1 100%;
  flex-direction: column;
  margin-right: 16px;
}

.formValidation {
  color: red;
}

.inputArea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  flex-wrap: wrap;
}

.wordSelected-true {
  color: black;
  background-color: #dcd8d8
}

.wordSelected-false:hover,
.wordSelected-true:hover {
  cursor: pointer;
  color: #393838;
}

.wordSelected-false {
  color: black;
}

.imageSelected-true {
  border: solid;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  height: 120px;
}

.tapInstructions {
  margin-top: 20px;
  margin-left: 20px;
  color: #b6b6b6;
}

.tapInstructions-error {
  margin-top: 20px;
  margin-left: 20px;
  color: red;
}

.media-container,
.media-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.media-inner-container {
  justify-content: space-between;
  padding: 10px;
}

.image-strip {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.images-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  cursor: pointer;
  flex: 2 1 auto;
  align-items: center;
}

.image {
  height: 125px;
  width : 175px;
  margin: auto 15px;
  box-sizing: border-box;
}

.image-scroll {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.image-scroll-true:hover {
  border: 1px solid #393838;
  cursor: pointer;
}

.image-word {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-right: 5px;
  font-size: 40px;
  flex: 2;
}



.footer {
  display: flex;
  flex: .1 1 auto ! important;
  padding: 1rem;
  align-self: center;
}